*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;

    background-color: hsl(210, 46%, 95%);

    font-size: 13px;    
}

main{
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user{
    height: 70px;

    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(2, 32px);
}

.user h3, .user h4{
    font-family: 'Barlow Semi Condensed', sans-serif;
    grid-column-start: 2;
    grid-column-end: 4;
}


.user img{
    width: 50%;
    border-radius: 50%;
    
}



.grid-container {
    display: grid;
    padding: 10%;
    /* width: 90%; */
    
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4 ,1fr);

    row-gap: 10px;
    column-gap: 10px;
}


.grid-container div{
    padding: 5%;
    /* width: 90%; */
    height: auto;
    width: auto;
}

.grid-container div:nth-of-type(1){
    background-image: url("../images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: 85% 3%;
    background-color: hsl(263, 55% , 52%);
    color: white;

    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-container div:nth-of-type(2){
    background-color: hsl(217, 19%, 35%);
    color: white;

    grid-column-start: 4;
    grid-column-end: 6;
    
    grid-row-start: 1;
    grid-row-end: 2;
}

.grid-container div:nth-of-type(3){
    background-color: hsl(0, 0%, 100%);

    grid-column-start: 6;
    grid-column-end: 8;

    grid-row-start: 1;
    grid-row-end: 4;
}

.grid-container div:nth-of-type(4){
    background-color: hsl(0, 0%, 100%);

    grid-column-start: 1;
    grid-column-end: 2;
    
    grid-row-start: 2;
    grid-row-end: 2;

}

.grid-container div:nth-of-type(5){
    background-color: hsl(219, 29%, 14%);
    color: white;

    grid-column-start: 2;
    grid-column-end: 6;
    
    grid-row-start: 2;
    grid-row-end: 2;
}

/* ----------------- */
/*   Image styles    */
/* ----------------- */

.grid-container div:nth-of-type(1) img{
    border: 3px solid hsl(263, 52%, 74%);
}

.grid-container div:nth-of-type(5) img{
    border: 3px solid hsl(263, 55%, 52%);
}

.review{
    border-radius: 2em;
    margin-bottom: 1em;
}

.quote{
    font-size: 1.5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    
    color: white;
    opacity: 70%;
}

.desc{
    font-size: 2em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
    
    color: white;
    padding-bottom: 1em;
}

.user h4{
    color: white;
    opacity: 50%;
}


.white-background{
    color: hsl(210, 46%, 95%);
}

.white-background h3, .white-background h4{
    color: hsl(215, 10%, 34%);
}

.white-background .desc, .white-background .quote{
    color: hsl(215, 10%, 34%);
}